<!DOCTYPE html>
<html lang="en">
<head>
    <title>Con Sâu Khô</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <style>
        body {
            font-family: Calibri;
        }
    </style>

    @RenderSection("style", false)

</head>
<body>

    <div class="site-wrap">

        <div class="site-navbar bg-white py-2">

            <div class="search-wrap">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="TÌM VÀ NHẤN ENTER">
                    </form>
                </div>
            </div>

            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="/" class="js-logo-clone">Con Sâu Khô</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li class="active">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="has-children">
                                    <a href="#">Danh mục</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Hoa bó</a></li>
                                        <li><a href="#">Hoa loa kèn</a></li>
                                        <li><a href="#">Hoa cẩm chướng</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Sản phẩm</a></li>
                                <li><a href="#">Về chúng tôi</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                        <a href="cart.html" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number">2</span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="site-footer custom-border-top">
            <div class="container">
                <div class="row">
                    <div id="lo-footer-promo" class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">BÀI ĐĂNG</h3>
                        <a href="#" class="block-6">
                            <img id="lo-footer-promo-img" src="/images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 id="lo-footer-promo-title" class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
                            <p id="lo-footer-promo-short-description">Promo from  July 15 &mdash; 25, 2019</p>
                        </a>
                    </div>
                    <div id="lo-footer-quick-links" class="col-lg-5 ml-auto mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Quick Links</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul id="lo-footer-quick-links-0" class="list-unstyled"></ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul id="lo-footer-quick-links-1" class="list-unstyled"></ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul id="lo-footer-quick-links-2" class="list-unstyled"></ul>
                            </div>
                        </div>
                    </div>

                    <div id="lo-footer-contact" class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li id="lo-footer-contact-address" class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                                <li id="lo-footer-contact-phone" class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                                <li id="lo-footer-contact-email" class="email">emailaddress@domain.com</li>
                            </ul>
                        </div>

                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    @RenderSection("script_layout", false)

    <script>
        layoutInit();
        
        function toMoneyFormat(str) {
            var count = 0;
            var newStr = "";
            var money, frac;
            if (str.indexOf('.') > -1) {
                money = str.substring(0, str.lastIndexOf('.'));
                frac = str.substring(str.lastIndexOf('.'));
            }
            else {
                money = str;
                frac = '';
            }
            for (var i = money.length - 1; i >= 0; i--) {
                if (count++ == 3) {
                    newStr = ',' + newStr;
                    count = 1;
                }
                newStr = money[i] + newStr;
            }
            return newStr + frac;
        }


        function layoutInit() {
            loadLayout();
        }

        function loadLayout() {
            var isSet = setLayout();

            $.ajax({
                url: '/api/brand-info?fields=layout',
                type: 'get',
                success: (data) => {
                    //localStorage['layout'] = JSON.stringify(data.layout);

                    var cacheLayout = {
                        banner: {
                            visible: true,
                            text_1: {
                                value: 'Bộ sưu tập mùa hè',
                                visible: true
                            },
                            text_2: {
                                value: 'BIG SALES OFF',
                                visible: true
                            },
                            link_3: {
                                value: 'Mua ngay',
                                visible: true,
                                link: '/admin',
                            },
                            img: '/images/model_3.png'
                        },
                        categories: {
                            visible: true,
                            title: 'Bộ sưu tập',
                            cate1: {
                                id: '1',
                                name: 'Hoa bó',
                                pcount: 24,
                                image_url: '/images/model_4.png'
                            },
                            cate2: {
                                id: '2',
                                name: 'Hoa lan',
                                pcount: 22,
                                image_url: '/images/model_5.png'
                            },
                            cate3: {
                                id: '3',
                                name: 'Hoa loa kèn',
                                pcount: 10,
                                image_url: '/images/model_6.png'
                            }
                        },
                        banner_bottom: {
                            visible: true,
                            text_1: {
                                value: 'Bộ sưu tập mùa hè',
                                visible: true
                            },
                            text_2: {
                                value: 'BIG SALES OFF',
                                visible: true
                            },
                            link_3: {
                                value: 'Mua ngay',
                                visible: true,
                                link: '/admin',
                            },
                            img: '/images/model_6.png'
                        },
                        footer: {
                            promo: {
                                visible: true,
                                img: '/images/model_4.png',
                                title: 'Tìm cái hay nhất',
                                short_description: 'Từ hôm nay tới hết CN',
                                link: '/'
                            },
                            quick_links: {
                                visible: true,
                                links: [
                                    {
                                        title: 'Fanpage 1',
                                        link: '/'
                                    },
                                    {
                                        title: 'Fanpage 2',
                                        link: '/'
                                    },
                                    {
                                        title: 'Fanpage 3',
                                        link: '/'
                                    },
                                    {
                                        title: 'Fanpage 4',
                                        link: '/'
                                    }
                                ]
                            },
                            contact: {
                                visible: true,
                                address: '14 Khiếu Năng Tĩnh',
                                phone: '09125284522',
                                email: 'trannamtrung1st@gmail.com'
                            }
                        }
                    };
                    localStorage['layout'] = JSON.stringify(cacheLayout);

                    if (!isSet)
                        setLayout();

                    var footer = cacheLayout.footer;
                    if (!footer.promo.visible) {
                        $('#lo-footer-promo').remove();
                    } else {
                        $('#lo-footer-promo-title').text(footer.promo.title);
                        $('#lo-footer-promo-img').attr('src', footer.promo.img);
                        $('#lo-footer-promo-short-description').text(footer.promo.short_description);
                    }

                    if (!footer.contact.visible) {
                        $('#lo-footer-contact').remove();
                    } else {
                        var contact = footer.contact;
                        $('#lo-footer-contact-address').html('<a href="https://www.google.com/maps/search/' + contact.address + '/">' + contact.address + '</a>');
                        $('#lo-footer-contact-phone').text(footer.contact.phone);
                        $('#lo-footer-contact-email').text(footer.contact.email);
                    }

                    if (!footer.quick_links.visible) {
                        $('#lo-footer-quick-links').remove();
                    } else {
                        var links = footer.quick_links.links;
                        var j = 0;
                        var count = 0;
                        while (j < links.length) {
                            $('#lo-footer-quick-links-' + count++).append(
                                $('<li><a href="' +
                                    links[j].link + '">' + links[j].title + '</a></li>')
                            );
                            if (count == 3)
                                count = 0;
                            j++;
                        }
                    }


                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                }
            });
        }
    </script>

    @RenderSection("script", false)

    <script src="/js/main.js"></script>

</body>
</html>