<!DOCTYPE html>
<html lang="en">
<head>
    <title>Con Sâu Khô</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="http://consaukho.com/images/thumbnail.jpg" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style>
        html, body {
            font-family: 'Roboto', sans-serif;
            overflow-x: hidden;
        }

        .site-logo a {
            border: none;
        }

        .site-section {
            padding-top: 77px;
            padding-bottom: 0px;
        }

        .owl-stage {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        footer {
            padding-bottom: 25px !important;
        }

        .product-item .product-category {
            top: unset;
            bottom: -10px;
        }

        .fa-facebook, .fa-instagram {
            color: #ee4266;
            padding: 5px 7px 3px 7px;
            font-size: 150%;
            border-radius: 5px;
            position: absolute;
            left: -5px;
            bottom: -2px;
        }
    </style>

    @RenderSection("style", false)

</head>
<body>

    <div class="site-wrap">

        <div class="site-navbar bg-white py-2">

            <div class="search-wrap">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="/products" method="get" id="search-form" onsubmit="return checkSearch();">
                        <input type="text" name="search" class="form-control" placeholder="TÌM VÀ NHẤN ENTER">
                    </form>
                </div>
            </div>

            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="/" class="js-logo-clone">Con Sâu Khô</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li id="menu-home">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="has-children">
                                    <a href="#">Danh mục</a>
                                    <ul class="dropdown" id="cates-menu"></ul>
                                </li>
                                <li id="menu-products"><a href="/products">Sản phẩm</a></li>
                                <li id="menu-about"><a href="#" onclick="scrollToAnchor('lo-footer-contact'); return false;">Về chúng tôi</a></li>
                                <li id="menu-contact"><a href="#" onclick="scrollToAnchor('lo-footer-contact'); return false;">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                        <a href="/cart" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number" id="cart-product-count"></span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="site-footer custom-border-top">
            <div class="container">
                <div class="row">
                    <div id="lo-footer-promo" class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">BÀI ĐĂNG</h3>
                        <a href="#" class="block-6">
                            <img id="lo-footer-promo-img" src="/images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 id="lo-footer-promo-title" class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
                            <p id="lo-footer-promo-short-description">Promo from  July 15 &mdash; 25, 2019</p>
                        </a>
                    </div>
                    <div id="lo-footer-quick-links" class="col-lg-5 ml-auto mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Đường dẫn nhanh</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul id="lo-footer-quick-links-0" class="list-unstyled"></ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul id="lo-footer-quick-links-1" class="list-unstyled"></ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul id="lo-footer-quick-links-2" class="list-unstyled"></ul>
                            </div>
                        </div>
                    </div>

                    <div id="lo-footer-contact" class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Liên hệ</h3>
                            <ul class="list-unstyled">
                                <li id="lo-footer-contact-address" class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                                <li id="lo-footer-contact-phone" class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                                <li id="lo-footer-contact-email" class="email">emailaddress@domain.com</li>
                                <li id="lo-footer-contact-facebook"><a href="#"><i class="fa fa-facebook"></i><span>Fb: Con Sâu Khô</span></a></li>
                                <li id="lo-footer-contact-instagram"><a href="#"><i class="fa fa-instagram"></i><span>Ins: consaukhoig</span></a></li>
                            </ul>
                        </div>

                        <div class="block-7">
                            <form action="#" method="post">
                                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                                <div class="form-group">
                                    <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                                    <input type="submit" class="btn btn-sm btn-primary" value="Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <script src="~/js/main.js"></script>
    <script>
        var awaitFunctions = [];
        var categories = {};
        Date.prototype.addDays = function(days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }
    </script>
    @RenderSection("script_layout", false)

    <script>

        layoutInit();
        function scrollToAnchor(aid) {
            var aTag = $("#" + aid + "");
            $('html,body').animate({ scrollTop: aTag.offset().top }, 'slow');
        }

        function toMoneyFormat(str) {
            var count = 0;
            var newStr = "";
            var money, frac;
            if (str.indexOf('.') > -1) {
                money = str.substring(0, str.lastIndexOf('.'));
                frac = str.substring(str.lastIndexOf('.'));
            }
            else {
                money = str;
                frac = '';
            }
            for (var i = money.length - 1; i >= 0; i--) {
                if (count++ == 3) {
                    newStr = ',' + newStr;
                    count = 1;
                }
                newStr = money[i] + newStr;
            }
            return newStr + frac;
        }

        function checkSearch() {
            if (window.search === undefined) {
                return true;
            }
            return false;
        }

        function layoutInit() {
            reloadCartProductsCount();
            loadLayout();
        }

        async function loadLayout() {

            function addCateMenu(link, text) {
                $('#cates-menu').append(
                    $('<li>').append(
                        $('<a href="' + link + '">').append(text)
                    )
                );
            }

            await loadCategories();
            var isSet = true;
            if (window.setLayout)
                isSet = setLayout();

            $.ajax({
                url: '/api/brand-info?fields=layout',
                type: 'get',
                success: async (data) => {
                    try {
                        data = data.layout;

                        localStorage['layout'] = JSON.stringify(data);

                        if (!(await isSet))
                            setLayout();

                        var layout = data.layout;

                        var header = layout.header;
                        if (header.menus) {
                            var menus = header.menus;
                            if (menus.all) {
                                for (var key in categories) {
                                    var c = categories[key];
                                    addCateMenu('/products?cate_id=' + c.id, c.name);
                                }
                            } else {
                                var manual = menus.manual;
                                for (var i = 0; i < manual.length; i++) {
                                    if (manual[i].id) {
                                        var cate = categories[manual[i].id];
                                        addCateMenu('/products?cate_id=' + cate.id, cate.name);
                                    } else {
                                        addCateMenu(manual[i].link, manual[i].text);
                                    }
                                }
                            }
                        }

                        var footer = layout.footer;
                        if (!footer.promo.visible) {
                            $('#lo-footer-promo').remove();
                        } else {
                            $('#lo-footer-promo-title').text(footer.promo.title);
                            $('#lo-footer-promo-img').attr('src', footer.promo.img);
                            $('#lo-footer-promo-short-description').text(footer.promo.short_description);
                        }

                        if (!footer.contact.visible) {
                            $('#lo-footer-contact').remove();
                        } else {
                            var contact = footer.contact;
                            $('#lo-footer-contact-address').html('<a href="https://www.google.com/maps/search/' + contact.address + '/">' + contact.address + '</a>');
                            $('#lo-footer-contact-phone').text(contact.phone);
                            $('#lo-footer-contact-email').text(contact.email);
                            
                            $('#lo-footer-contact-facebook a').attr('href', contact.facebook.link);
                            $('#lo-footer-contact-facebook span').text(contact.facebook.text);
                            $('#lo-footer-contact-instagram a').attr('href', contact.instagram.link);
                            $('#lo-footer-contact-instagram span').text(contact.instagram.text);
                        }

                        if (!footer.quick_links.visible) {
                            $('#lo-footer-quick-links').remove();
                        } else {
                            var links = footer.quick_links.links;
                            var j = 0;
                            var count = 0;
                            while (j < links.length) {
                                $('#lo-footer-quick-links-' + count++).append(
                                    $('<li><a href="' +
                                        links[j].link + '">' + links[j].title + '</a></li>')
                                );
                                if (count == 3)
                                    count = 0;
                                j++;
                            }
                        }

                    } catch (e) { }

                    for (var i = 0; i < awaitFunctions.length; i++)
                        await awaitFunctions[i];
                    main($);
                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                }
            });
        }

        async function loadCategories() {
            await $.ajax({
                url: '/api/product-categories?fields=info&fields=pcount',
                type: 'get',
                success: (data) => {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        categories[data[i].id] = data[i];
                    }
                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                }
            });
        }


        //cart
        function reloadCartProductsCount() {
            var cart = getCart();
            var details = cart.details;
            var count = 0;
            for (var k in details)
                count++;
            $('#cart-product-count').text(count);
            return count;
        }

        function addProductToCart(proId, quantity) {
            var cart = getCart();
            var details = cart.details;
            var pro = details[proId];
            if (!pro) {
                pro = {
                    product_id: proId,
                    quantity: 0
                };
                details[proId] = pro;
            }
            pro.quantity += quantity;
            saveCart(cart);
        }

        function saveCart(cart) {
            var str = JSON.stringify(cart);
            sessionStorage["cart"] = str;
        }

        function getCart() {
            if (!sessionStorage["cart"])
                sessionStorage["cart"] = JSON.stringify({
                    details: {}
                });
            return JSON.parse(sessionStorage["cart"]);
        }

        function clearCart() {
            sessionStorage.removeItem('cart');
        }
    //./cart

    </script>

    @RenderSection("script", false)

</body>
</html>