@page
@model CSK.Admin.Pages.Category.CreateModel
@{
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tạo danh mục sản phẩm

        <a href="../" class="btn btn-link pull-right">
            Trở lại
        </a>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin danh mục</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên danh mục</label>
                            <input type="text" name="name"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Hình đại diện</label>
                            <input type="file" accept="image/*" name="file">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="btn-create">Tạo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
@section script {
    <script>
        pageInit();
        function pageInit() {
            $('#btn-create').click(createCategory);
        }

        function createCategory() {
            var formData = new FormData($('form')[0]);
            $.ajax({
                url: '/api/product-categories',
                type: 'post',
                contentType: false,
                processData: false,
                cache: false,
                data: formData,
                success: (data) => {
                    Swal.fire({
                        type: 'success',
                        title: 'Message',
                        text: 'Tạo thành công',
                    }).then(() => {
                        location.replace('/category/');
                    });
                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                    Swal.fire({
                        type: 'error',
                        title: 'Message',
                        text: data.message,
                    });
                }
            });
        }

    </script>

}
