@page "/admin/product/{id}"
@model CSK.Admin.Pages.Admin.Product.DetailModel
@{
}


@section style{
    <style>
        form img {
            width: 100%;
        }

        .image-container{
            padding: 5px;
        }
    </style>

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chi tiết sản phẩm: <b id="product-name"><!-- dynamic data --></b>

        <a href="../" class="btn btn-link pull-right">
            Trở lại
        </a>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin sản phẩm</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Id</label>
                            <div id="lbl-id"><!--dynamic data--></div>
                        </div>
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input type="text" name="name"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Mã sản phẩm</label>
                            <input type="text" name="code"
                                   class="form-control">
                        </div>
                        <div class="form-group" id="categories">
                            <label>Danh mục</label><br />
                            <div>
                                <select class="form-control" id="select-categories" style="max-width:50%;display:inline-block"></select>
                                <button type="button" class="btn btn-primary" onclick="addCateClick()">Thêm</button>
                            </div>
                            <br />
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Số lượng sẵn có</label> <br />
                            <input type="number" name="in_stock_amount" step="1" min="0" value="0">
                            <input type="text" name="unit_name" placeholder="Đơn vị: cái, chiếc ..." />
                        </div>
                        <div class="form-group">
                            <label>
                                Hiển thị số lượng sẵn có
                                <input type="checkbox" name="is_in_stock_amount_visible" value="true">
                            </label><br />
                            <i>Chọn: hiển thị số lượng</i><br />
                            <i>Không chọn: hiển thị còn/hết hàng</i><br />
                        </div>
                        <div class="form-group">
                            <label>Đơn giá</label> <br />
                            <input type="number" name="unit_price" step="1000" min="0"> (VND)
                        </div>
                        <div class="form-group">
                            <label>Giảm giá</label> <br />
                            <input id="inp-discount" type="number" name="discount_amount" step="1000" min="0">
                            <select id="product-discount" style="padding:3.75px;" onchange="discountUnitChange(this)">
                                <option value="VND">VND</option>
                                <option value="%">%</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                Hiển thị sản phẩm
                                <input type="checkbox" name="is_visible" value="true">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Links hình ảnh</label>
                            <textarea name="image_urls" class="form-control"></textarea>
                        </div>
                        <div id="product-images">
                            <!-- dynamic data -->
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="btn-update">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
@section script {
    <script>
    pageInit();
    function pageInit() {
        loadCategories();
        loadProduct();
        $('#btn-update').click(updateProduct);
    }
    
    function discountUnitChange(inp) {
        var val = $(inp).val();
        if (val == "VND") {
            $('#inp-discount').val('');
            $('#inp-discount').attr('name', 'discount_amount');
            $('#inp-discount').attr('step', '1000');
            $('#inp-discount').removeAttr('max');
        } else {
            $('#inp-discount').val('');
            $('#inp-discount').attr('name', 'discount_percent');
            $('#inp-discount').attr('step', '1');
            $('#inp-discount').attr('max', '100');
        }
    }

    //categories
    var cates = {};
    function addCateClick() {
        var select = $('#select-categories');
        var val = select.val();
        var text = select.find('option:selected').text();
        if (cates[val])
            return;
        addCate(val, text);
    }

    function addCate(id, name) {
        cates[id] = name;
        $('#categories').append(
            $('<div>').append('&nbsp;&nbsp;&nbsp;')
                .append(name).append('&nbsp;&nbsp;&nbsp;')
                .append(
                    $('<a href="#" onclick="removeCate(this, \'' + id + '\');return false;">X</a>')
                ).append(
                    $('<input type="hidden" name="categories_id[]" value="' + id + '" />')
                )
        );
    }

    function removeCate(a, val) {
        cates[val] = null;
        $(a).parent().remove();
    }
    //./categories

    function loadProduct() {

        function addImage(url) {
            $('#product-images').append(
                $('<div class="col-md-3 image-container">').append(
                    $('<img src="' + url + '" />')
                )
            );
        }

        $.ajax({
            url: '/api/products/@Model.Id',
            type: 'get',
            success: (data) => {
                console.log(data);

                $('#product-name').text(data.name);
                $('#lbl-id').text(data.id);
                $('[name=name]').val(data.name);
                $('[name=code]').val(data.code);
                $('[name=description]').val(data.description);
                $('[name=in_stock_amount]').val(data.in_stock_amount);
                $('[name=unit_name]').val(data.unit_name);
                $('[name=unit_price]').val(data.unit_price);
                if (data.discount_amount) {
                    $('#product-discount').val('VND');
                    $('#inp-discount').val('');
                    $('#inp-discount').attr('name', 'discount_amount');
                    $('#inp-discount').attr('step', '1000');
                    $('#inp-discount').removeAttr('max');
                    $('[name=discount_amount]').val(data.discount_amount);
                } else if (data.discount_percent) {
                    $('#product-discount').val('%');
                    $('#inp-discount').val('');
                    $('#inp-discount').attr('name', 'discount_percent');
                    $('#inp-discount').attr('step', '1');
                    $('#inp-discount').attr('max', '100');
                    $('[name=discount_percent]').val(data.discount_percent);
                }
                if (data.is_in_stock_amount_visible)
                    $('[name=is_in_stock_amount_visible]').attr('checked', '');
                else $('[name=is_in_stock_amount_visible]').removeAttr('checked');
                if (data.is_visible)
                    $('[name=is_visible]').attr('checked', '');
                else $('[name=is_visible]').removeAttr('checked');

                for (var i = 0; i < data.cinfo.length; i++) {
                    var cate = data.cinfo[i];
                    addCate(cate.id, cate.name);
                }

                if (data.image_urls) {
                    var text = '';
                    for (var i = 0; i < data.image_urls.length; i++) {
                        text += data.image_urls[i] + '\n';
                        addImage(data.image_urls[i]);
                    }
                    $('[name=image_urls]').text(text);
                }
            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
                Swal.fire({
                    type: 'error',
                    title: 'Message',
                    text: data.message,
                });
            }
        });
    }

    function updateProduct() {
        var formData = new FormData($('form')[0]);
        $.ajax({
            url: '/api/products/@Model.Id',
            type: 'post',
            contentType: false,
            processData: false,
            cache: false,
            data: formData,
            success: (data) => {
                Swal.fire({
                    type: 'success',
                    title: 'Message',
                    text: 'Cập nhật thành công',
                }).then(() => {
                    location.reload();
                });
            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
                Swal.fire({
                    type: 'error',
                    title: 'Message',
                    text: data.message,
                });
            }
        });
    }

    function loadCategories() {

        function addCategoryOption(cate) {
            $('#select-categories').append(
                $('<option value="' + cate.id + '">').append(cate.name)
            );
        }

        $.ajax({
            url: '/api/product-categories',
            type: 'get',
            success: (data) => {
                for (var i = 0; i < data.length; i++) {
                    addCategoryOption(data[i]);
                }
            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
                Swal.fire({
                    type: 'error',
                    title: 'Message',
                    text: data.message,
                });
            }
        });
    }

    </script>

}
