@page
@using CSK.Data
@model CSK.Admin.Pages.CheckoutModel
@{
}


<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="/">Trang chủ</a>
                <span class="mx-2 mb-0">/</span>
                <a href="/cart">Giỏ hàng</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Thanh toán</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Chi tiết đơn hàng</h2>
                <div class="p-3 p-lg-5 border">
                    <div id="buyer-info">
                        <h5 class="text-black">Thông tin người mua</h5>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-black">Họ tên <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="customer_name" placeholder="Họ tên người mua">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-black">Địa chỉ</label>
                                <input type="text" class="form-control" name="customer_address" placeholder="Nhập địa chỉ người mua">
                            </div>
                        </div>

                        <div class="form-group row mb-5">
                            <div class="col-md-6">
                                <label class="text-black">Số điện thoại <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="customer_phone" placeholder="092xxxxxxxx">
                            </div>
                            <div class="col-md-6">
                                <label class="text-black">Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="customer_email" placeholder="abc@gmail.com">
                            </div>
                        </div>

                    </div>
                    <div id="receiver-info">
                        <div>
                            <h5 class="text-black" style="display:inline-block">Thông tin người nhận</h5> <i class="text-black">(để trống nếu chính bạn nhận hàng)</i>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-black">Họ tên</label>
                                <input type="text" class="form-control" name="receiver_name" placeholder="Họ tên người nhận">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="text-black">Địa chỉ</label>
                                <input type="text" class="form-control" name="receiver_address" placeholder="Nhập địa chỉ người nhận">
                            </div>
                        </div>

                        <div class="form-group row mb-5">
                            <div class="col-md-6">
                                <label class="text-black">Số điện thoại</label>
                                <input type="text" class="form-control" name="receiver_phone" placeholder="092xxxxxxxx">
                            </div>
                        </div>

                    </div>
                    <div id="ship-info">
                        <h5 class="text-black">Thông tin giao hàng</h5>

                        <div class="form-group">
                            <div>
                                <input type="radio" id="inp-ship-normal" name="ship_type" value="normal" checked />
                                <label for="inp-ship-normal" class="text-black">Giao bình thường: sau <span id="spacing-days"></span> ngày kể từ ngày đặt</label>
                            </div>
                            <div>
                                <input type="radio" id="inp-ship-fast" name="ship_type" value="fast" />
                                <label for="inp-ship-fast" class="text-black">Giao gấp <i>(Con Sâu Khô sẽ liên hệ và xác nhận lại)</i></label>
                            </div>
                            <div class="col-md-6">
                                <label class="text-black">Ngày giao hàng <span class="text-danger">*</span></label>
                                <input class="form-control" type="date" name="ship_date" onchange="checkShipDate()" />
                            </div>
                            <div class="col-md-6">
                                <label class="text-black">Khung giờ <span class="text-danger">*</span></label>
                                <select class="form-control" name="ship_time">
                                    <!--dynamic-->
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="text-black">Lời nhắn</label>
                            <textarea name="message" cols="30" rows="5" class="form-control" placeholder="Vd: lời chúc, lời yêu thương ..."></textarea>
                        </div>
                        <div class="form-group">
                            <label class="text-black">Ghi chú</label>
                            <textarea name="note" cols="30" rows="5" class="form-control" placeholder="Vd: gói màu xanh, giấu tên người gửi ..."></textarea>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Đơn hàng của bạn</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5" id="tbl-order-detail">
                                <thead>
                                    <tr>
                                        <th style="width:60%">Sản phẩm</th>
                                        <th>Tổng cộng (VND)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--dynamic-->
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Thành tiền</strong></td>
                                        <td class="text-black" id="order-total-amount"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-black"><strong><b>Tổng cộng</b></strong> (chưa gồm phí ship)</td>
                                        <td class="text-black font-weight-bold">
                                            <strong id="order-final-amount"></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                            <div class="form-group">
                                <h5 class="text-black">Chọn phương thức thanh toán</h5>
                                <input type="radio" id="pm-cod" name="payment_type" value="cod" checked />
                                <label for="pm-cod" class="text-black">Ship COD</label><br />
                                <input type="radio" id="pm-transfer" name="payment_type" value="transfer" />
                                <label for="pm-transfer" class="text-black">Chuyển khoản</label>
                                <p>
                                    <b>
                                        <i style="color:blue;" id="bank-infos">
                                        </i>
                                    </b>
                                </p>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block" onclick="createOrder()">Đặt hàng</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>

@section script_layout{
    <script>
        async function setLayout() {
            if (!localStorage["layout"])
                return false;
            var cacheLayout = JSON.parse(localStorage["layout"]);
            var checkout = cacheLayout.checkout;

            var bankInfos = checkout.bank_infos;
            var infoStr = '';
            for (var i = 0; i < bankInfos.length; i++)
                infoStr += bankInfos[i] + '<br/>';

            $('#bank-infos').html(infoStr);

            var shipTimes = checkout.ship_times;
            var selectTime = $('select[name=ship_time]');
            for (var i = 0; i < shipTimes.length; i++) {
                selectTime.append(
                    $('<option value="' + shipTimes[i] + '">').append(shipTimes[i])
                );
            }

            var sDays = checkout.spacing_days;
            $('#spacing-days').text(sDays);
            var inpShipDate = $('[name=ship_date]')
            inpShipDate.focus(() => {
                if (!$('[name=ship_date]').attr('min'))
                    $('[name=ship_date]').attr('min', minNormalDate);
            });
            inpShipDate.val(getMinNormalDate(sDays));

            return true;
        }
    </script>
}

@{
    var minFastDate = Helper.ToVNDateTime(DateTime.UtcNow).Value;
}

@section script{

    <script>
    var productDetails = {};
    pageInit();


    var minFastDate = '@minFastDate.Year-@minFastDate.Month.D()-@minFastDate.Day.D()';
    var minNormalDate;

    function getMinNormalDate(sDays) {
        var arr = minFastDate.split('-');
        var year = parseInt(arr[0]);
        var month = parseInt(arr[1]);
        var date = parseInt(arr[2]);
        var newDate = new Date(year, month, date).addDays(sDays);

        function d(n) {
            if (n < 10)
                return '0' + n;
            return n.toString();
        }
        minNormalDate = (newDate.getYear() + 1900).toString() + '-' + d(newDate.getMonth()) + '-' + d(newDate.getDate());
        return minNormalDate;
    }


    function pageInit() {
        loadCartDetail();

        $('#inp-ship-normal').change(() => changeInpShipType());
        $('#inp-ship-fast').change(() => changeInpShipType());

    }

    function changeInpShipType() {
        var val = $('[name=ship_type]:checked').val();
        if (val == 'fast')
            $('[name=ship_date]').attr('min', minFastDate);
        else
            $('[name=ship_date]').attr('min', minNormalDate);
    }

    function checkShipDate() {
        var inp = $('[name=ship_date]');
        var vals = inp.val().split('-');
        var minVal = inp.attr('min');
        var minVals = minVal.split('-');
        if (parseInt(vals[0]) < parseInt(minVals[0])) {
            inp.val(minVal);
        } else if (parseInt(vals[1]) < parseInt(minVals[1])) {
            inp.val(minVal);
        } else if (parseInt(vals[2]) < parseInt(minVals[2])) {
            inp.val(minVal);
        }
    }

    function loadCartDetail() {

        function addProductRow(p, quantity) {
            productDetails[p.id] = p;

            var finalUnit = p.unit_price;
            if (p.discount_amount) {
                finalUnit = p.unit_price - p.discount_amount;
            } else if (p.discount_percent) {
                finalUnit = p.unit_price - (p.discount_percent * p.unit_price / 100);
            }

            var finalAmount = finalUnit * quantity;
            p.final_unit = finalUnit;
            var finalAmountStr = toMoneyFormat(finalAmount.toString());

            $('#tbl-order-detail tbody').append(
                $('<tr>').append(
                    $('<td>' + p.name + ' <strong class="mx-2">x</strong> ' + quantity + '</td>')
                ).append(
                    $('<td>' + finalAmountStr + '</td>')
                )
            );

            return finalAmount;
        }

        cart = getCart();

        var details = cart.details;
        var idsStr = '';
        for (var k in details) {
            idsStr += '&ids=' + details[k].product_id;
        }

        if (idsStr) {
            $.ajax({
                url: '/api/products?fields=info' + idsStr,
                type: 'get',
                success: (data) => {
                    console.log(data);
                    var finalAmount = 0;
                    for (var i = 0; i < data.length; i++) {
                        finalAmount += addProductRow(data[i], details[data[i].id].quantity);
                    }
                    var finalAmountStr = toMoneyFormat(finalAmount.toString());
                    $('#order-total-amount').text(finalAmountStr);
                    $('#order-final-amount').text(finalAmountStr);
                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                }
            });
        }

    }

    function createOrder() {
        var order = {
            details: getCart().details,
            customer_name: $('[name=customer_name]').val(),
            customer_phone: $('[name=customer_phone]').val(),
            customer_email: $('[name=customer_email]').val(),
            customer_address: $('[name=customer_address]').val(),
            receiver_name: $('[name=receiver_name]').val(),
            receiver_phone: $('[name=receiver_phone]').val(),
            receiver_address: $('[name=receiver_address]').val(),
            ship_type: $('[name=ship_type]:checked').val(),
            ship_date: $('[name=ship_date]').val(),
            ship_time: $('[name=ship_time]').val(),
            message: $('[name=message]').val(),
            note: $('[name=note]').val(),
            payment_type: $('[name=payment_type]:checked').val()
        };

        $.ajax({
            url: '/api/sale-orders',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(order),
            success: (data) => {
                clearCart();
                Swal.fire({
                    type: 'success',
                    title: 'Đang xử lí',
                    text: 'Vui lòng chờ trong giây lát',
                    showConfirmButton: false,
                    showCancelButton: false,
                    allowOutsideClick: false
                });
                setTimeout(() => {
                    location.href = "/thankyou";
                }, 2000);
            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
                var errStr = '';
                var mess = data.messages;
                for (var i = 0; i < mess.length; i++)
                    errStr += mess[i] + '<br/>';
                Swal.fire({
                    title: 'Không hợp lệ',
                    type: 'error',
                    html: errStr,
                })
            }
        });

    }

    </script>

}