@page
@model CSK.Admin.Pages.IndexModel
@{
}

@section style{
<style>
    @@media (max-width: 991.98px) {
        .site-blocks-cover {
            height: 400px !important;
        }
    }

    @@media (max-width: 700px) {
        .site-blocks-cover {
            height: 300px !important;
        }
    }

    @@media (max-width: 500px) {
        .site-blocks-cover {
            height: 250px !important;
        }
    }


    .item-title a {
        color: black !important;
    }

    .product-img-container {
        position: relative;
        overflow: hidden;
    }

        .product-img-container img {
            width: 100%;
            transition: 0.5s;
            margin-bottom: 10px;
        }

    .btn-detail {
        opacity: 0;
        background: rgba(0,0,0,0.7);
        width: 110%;
        /*height: 315px;*/
        text-align: center;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .btn-detail i {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            display: inline-block;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 170%;
        }

    .custom-price {
        color: #ee4266;
    }

        .custom-price del {
            color: gray;
        }

    .product-item {
        transition: 0.5s;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
    }

    .discount {
        font-size: 97%;
        background-color: orange;
        border-radius: 10px;
        padding: 2px 10px;
        color: black;
    }

    .custom-product {
        overflow: hidden;
        transition: 0.5s;
        font-size: 110%;
        font-weight: normal;
    }

        .custom-product a {
            font-size: 110%;
        }

        .custom-product:hover .btn-detail {
            opacity: 1;
        }

        .custom-product:hover img {
            filter: brightness(0.4);
        }

    .lo-banner:hover {
        cursor: pointer;
        filter: saturate(150%);
    }

    .lo-banner {
        transition: background 1s, filter 0.5s !important;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 650px;
    }

    .product-category {
        width: 300px;
    }

    #popular-products img {
        margin-bottom: 10px;
    }

    #lo-most-rated {
        padding-bottom: 80px;
    }
</style>
}

<div id="banner-slider" class="owl-carousel home-banner">
</div>

<div id="lo-categories" class="site-section">
    <div class="container">
        <div class="title-section mb-3">
            <h2 class="text-uppercase" id="lo-categories-title"><span class="d-block">Discover</span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-8">
                <div class="product-item sm-height full-height " id="lo-categories-cate-1-img">
                    <a href="#" id="lo-categories-cate-1-link" class="product-category">Women <span>25 items</span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-item sm-height mb-4" id="lo-categories-cate-2-img">
                    <a href="#" id="lo-categories-cate-2-link" class="product-category">Men <span>25 items</span></a>
                </div>

                <div class="product-item sm-height " id="lo-categories-cate-3-img">
                    <a href="#" id="lo-categories-cate-3-link" class="product-category">Shoes <span>25 items</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="lo-products" class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section mb-3 col-12">
                <h2 class="text-uppercase" id="lo-products-title">Sản phẩm phổ biến</h2>
            </div>
        </div>
        <div class="row" id="popular-products">

        </div>
    </div>
</div>

<div id="lo-most-rated" class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center mb-3 col-12">
                <h2 id="lo-most-rated-title" class="text-uppercase">Most Rated</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3">
                <div class="nonloop-block-3 owl-carousel" id="most-rated-products">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="banner-slider-bottom" class="owl-carousel home-banner">
</div>


@section script_layout{
<script>

    $('#menu-home').addClass('active');

    async function setLayout() {
        if (!localStorage["layout"])
            return false;
        var cacheLayout = JSON.parse(localStorage["layout"]);
        var home = cacheLayout.home;

        try {
            var banner = home.banner;
            var images = banner.images;
            for (var i = 0; i < images.length; i++) {
                $('#banner-slider').append(
                    $('<a ' + (images[i].link ? ('href="' + images[i].link + '"') : '') + '>').append(
                        $('<div class="lo-banner site-blocks-cover inner-page py-5" data-aos="fade" style="background-image:url(\'' + images[i].img + '\')">')
                    )
                );
            }
        } catch (e) { }

        try {
            var bannerBot = home.banner_bottom;
            var images = bannerBot.images;
            for (var i = 0; i < images.length; i++) {
                $('#banner-slider-bottom').append(
                    $('<a ' + (images[i].link ? ('href="' + images[i].link + '"') : '') + '>').append(
                        $('<div class="lo-banner site-blocks-cover inner-page py-5" data-aos="fade" style="background-image:url(\'' + images[i].img + '\')">')
                    )
                );
            }

        } catch (e) { }

        $('.home-banner').owlCarousel({
            center: false,
            items: 1,
            loop: true,
            stagePadding: 0,
            margin: 0,
            smartSpeed: 1000,
            autoplay: banner.autoplay,
        });

        try {
            var categories = home.categories;
            if (!categories.visible) {
                $('#lo-categories').remove();
            } else {
                if (categories.title) {
                    var lines = categories.title.split('\n');
                    var newStr = '';
                    for (var i = 0; i < lines.length; i++) {
                        newStr += '<div>' + lines[i] + '</div>';
                    }
                    $('#lo-categories-title').html(newStr);
                }
                if (categories.cate1) {
                    var cate = categories.cate1;
                    if (cate.id)
                        loadCate(cate.id, 1);
                    else addCate(cate, 1);
                }
                if (categories.cate2) {
                    var cate = categories.cate2;
                    if (cate.id)
                        loadCate(cate.id, 2);
                    else addCate(cate, 2);
                }
                if (categories.cate3) {
                    var cate = categories.cate3;
                    if (cate.id)
                        loadCate(cate.id, 3);
                    else addCate(cate, 3);
                }
            }
        } catch (e) { }

        try {
            var products = home.products;
            if (!products.visible) {
                $('#lo-products').remove();
            } else {
                $('#lo-products-title').text(products.title);
                if (products.auto)
                    loadPopularProducts(products.auto);
                else {
                    loadProductsToView(products.manual, 'popular-products');
                }
            }
        } catch (e) { }

        try {
            var mostRateds = home.most_rated;
            if (!mostRateds.visible) {
                $('#lo-most-rated').remove();
            } else {
                $('#lo-most-rated-title').text(mostRateds.title);
                loadProductsToView(mostRateds.manual, 'most-rated-products');
            }
        } catch (e) { }

        return true;
    }

    function loadProductsToView(data, section) {
        for (var i = 0; i < data.length; i++) {
            var disc = $('<span>');
            var price = $('<span class="custom-price">');
            if (data[i].discount_amount) {
                var unit = data[i].unit_price.toString();
                var discount = data[i].discount_amount.toString();
                var final = (data[i].unit_price - data[i].discount_amount).toString();
                price.append(
                    $('<del>' + toMoneyFormat(unit) + '</del>')
                ).append('&nbsp;&nbsp;').append(' ' + toMoneyFormat(final));
                disc.append('&nbsp;&nbsp;&nbsp;').append(
                    $('<span class="discount">-' + toMoneyFormat(discount) + '</span>')
                );
            } else if (data[i].discount_percent) {
                var unit = data[i].unit_price.toString();
                var discount = data[i].discount_percent.toString();
                var final = (data[i].unit_price - data[i].discount_percent * data[i].unit_price / 100).toString();
                price.append(
                    $('<del>' + toMoneyFormat(unit) + '</del> ')
                ).append('&nbsp;&nbsp;').append(' ' + toMoneyFormat(final));
                disc.append('&nbsp;&nbsp;&nbsp;').append(
                    $('<span class="discount">-' + discount + '%</span>')
                );
            } else {
                var unit = data[i].unit_price.toString();
                price.append(toMoneyFormat(unit));
            }

            if (section.indexOf('popular') > -1) {
                $('#' + section).append(
                    $('<div class="custom-product col-lg-3 col-md-4 item-entry mb-4">').append(
                        $('<div class="product-img-container">').append(
                            $('<a href="/detail/' + data[i].id + '" class="d-block">').append(
                                $('<img src="' + (data[i].image_urls ? data[i].image_urls[0] : '') + '" alt="Image" class="img-fluid">')
                            )
                        ).append('<a href="/detail/' + data[i].id + '" class="btn-detail"><i class="fa fa-search"></i></a>')
                    ).append(
                        $('<h2 class="item-title">').append(
                            $('<a href="/detail/' + data[i].id + '">').append(data[i].name)
                        ).append(disc)
                    ).append(
                        price
                    )
                )
            } else {
                $('#' + section).append(
                    $('<div class="item">').append(
                        $('<div class="custom-product col-md-12 item-entry mb-4">').append(
                            $('<div class="product-img-container">').append(
                                $('<a href="/detail/' + data[i].id + '" class="d-block">').append(
                                    $('<img src="' + (data[i].image_urls ? data[i].image_urls[0] : '') + '" alt="Image" class="img-fluid">')
                                )
                            ).append('<a href="/detail/' + data[i].id + '" class="btn-detail"><i class="fa fa-search"></i></a>')
                        ).append(
                            $('<h2 class="item-title">').append(
                                $('<a href="/detail/' + data[i].id + '">').append(data[i].name)
                            ).append(disc)
                        ).append(
                            price
                        )
                    )
                )
            }

        }
    }

    function loadPopularProducts(amount) {
        $.ajax({
            url: '/api/products?fields=info&popular=true&limit=' + amount + '&visible=true',
            type: 'get',
            success: (data) => {
                console.log(data);
                loadProductsToView(data, 'popular-products');
            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
            }
        });
    }

    function addCate(cate, no) {
        if (cate.name)
            $('#lo-categories-cate-' + no + '-link').html(cate.name + (cate.pcount ? (' <span>' + cate.pcount + ' sản phẩm</span>') : ''));

        if (cate.id)
            $('#lo-categories-cate-' + no + '-link').attr('href', '/products?cate_id=' + cate.id);
        else if (cate.link)
            $('#lo-categories-cate-' + no + '-link').attr('href', cate.link);
        else
            $('#lo-categories-cate-' + no + '-link').remove();

        $('#lo-categories-cate-' + no + '-img').attr('style', "background-image:url('" + cate.image_url + "');");
    }

    function loadCate(id, no) {
        if (categories[id])
            addCate(categories[id], no);
    }

</script>
}

@section script{
<script>
    pageInit();

    function pageInit() {

    }

</script>

}
