@page
@model IndexModel
@{

}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tổng quan
    </h1>
</section>

<!-- Main content -->
<section class="content">


</section>
<!-- /.content -->