@page
@model CSK.Admin.Pages.Admin.Layout.IndexModel
@{
}

@section style{
<style>
    textarea {
        height: 100px !important;
    }

    .box img {
        width: 100%;
    }
</style>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Giao diện trang chính
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" target="_blank" class="btn btn-primary">
            Tới trang chính
        </a>
        <a href="../" class="btn btn-link pull-right">
            Trở lại
        </a>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">File dữ liệu giao diện</h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://jsoneditoronline.org/" target="_blank" class="btn btn-primary">
                        Tới trang chỉnh sửa
                    </a>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Giao diện hiện tại</label>
                            <textarea name="layout" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Giao diện trước đó</label>
                            <textarea disabled name="layout_backup" class="form-control"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="btn-update">Cập nhật</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
@section script{
<script>
    pageInit();
    function pageInit() {
        loadLayout();
        $('#btn-update').click(updateLayout);
    }


    function loadLayout() {
        $.ajax({
            url: '/api/brand-info?fields=layout',
            type: 'get',
            success: (data) => {
                backup = data.layout_backup;
                data = data.layout;
                try {
                    $('textarea[name=layout]').text(JSON.stringify(data));
                } catch (e) { }
                try {
                    $('textarea[name=layout_backup]').text(JSON.stringify(backup));
                } catch (e) { }
            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
            }
        });
    }

    function updateLayout() {
        var layout = $('textarea[name=layout]').val();
        var obj = JSON.parse(layout);
        var data = {
            layout: JSON.stringify(obj)
        };
        $.ajax({
            url: '/api/brand-info/layout',
            type: 'put',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: (data) => {
                Swal.fire({
                    type: 'success',
                    title: 'Message',
                    text: 'Cập nhật thành công',
                }).then(() => {
                    location.reload();
                });
            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
                Swal.fire({
                    type: 'error',
                    title: 'Message',
                    text: data.message,
                });
            }
        });
    }

</script>

}