@page
@model CSK.Admin.Pages.Admin.Files.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Con Sâu Khô - Files</title>

    <!-- Include our stylesheet -->
    <link href="assets/css/styles.css" rel="stylesheet" />
    <style>
        .btn-back {
            padding: 10px;
        }

        .btn-del {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer
        }

        .btn-edit-name {
            position: absolute;
            top: 5px;
            right: 40px;
            cursor: pointer
        }

        .btn-link {
            position: absolute;
            top: 5px;
            right: 100px;
            cursor: pointer
        }

        .operations {
            padding: 20px;
        }

            .operations button {
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }

        .btn-back a {
            color: white;
            text-decoration: none;
        }

            .btn-back a:hover {
                color: white;
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <h1 class="btn-back"><a href="../">TRỞ VỀ</a></h1>
    <div class="filemanager">

        <div class="search">
            <input type="search" placeholder="Find a file.." />
        </div>
        <div class="operations">
            <button type="button" onclick="createFolder()">Thêm folder</button>
            <form id="upload-form" method="post" style="background:white;padding:20px;">
                <label>Upload hình</label>
                <input id="inp-file" type="file" name="files" multiple />
            </form>
        </div>
        <br />
        <div class="breadcrumbs"></div>

        <ul class="data"></ul>

        <div class="nothingfound">
            <div class="nofiles"></div>
            <span>No files here.</span>
        </div>

    </div>

    <!-- Include our script files -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="assets/js/script.js"></script>

    <script>
        var dataPath;
        pageInit();


        function checkLogin() {
            if (!localStorage['token'])
                location.replace('/admin/login/');
            else {
                var token = JSON.parse(localStorage['token']);
                var expire = new Date(token.expires_utc);
                if (expire <= new Date()) {
                    localStorage.removeItem('token');
                    location.replace('/admin/login/');
                }
                else {
                    $('.username-text').text(token.username);
                    $('body').show();
                }
            }
        }

        function pageInit() {
            checkLogin();
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    if (localStorage['token'])
                        xhr.setRequestHeader('Authorization', 'Bearer ' + JSON.parse(localStorage['token']).access_token);
                }
            });
            dataPath = '/api/files/list';

            list();

            //Trigger now when you have selected any file
            $("#inp-file").change(function (e) {
                var form = $('#upload-form');
                var path = currentPath;
                if (path.indexOf('/') < 0)
                    path += '/';
                form.append($('<input type="hidden" name="path" value="' + path.substring(path.indexOf('/')) + '">'));
                var formData = new FormData(form[0]);
                $('input[type=hidden]').remove();

                $.ajax({
                    url: '/api/files/',
                    type: 'post',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: formData,
                    success: (data) => {
                        list();
                    },
                    error: (data) => {
                        console.log(data);
                        data = data.responseJSON;
                        Swal.fire({
                            type: 'error',
                            title: 'Message',
                            text: data.message,
                        });
                    }
                });

            });
        }

        function deleteFolder(btn) {
            Swal.fire({
                title: 'Bạn chắc chắn muốn xóa?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Chắc chắn',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.value) {
                    var link = $(btn).parent().find('a');
                    var href = link.attr('href');
                    $.ajax({
                        url: '/api/files/folder?path=' + href.substring(href.indexOf('/')),
                        type: 'delete',
                        success: (data) => {
                            list();
                        },
                        error: (data) => {
                            console.log(data);
                            data = data.responseJSON;
                            Swal.fire({
                                type: 'error',
                                title: 'Message',
                                text: data.message,
                            });
                        }
                    });
                }
            });

        }

        function deleteFile(btn) {
            Swal.fire({
                title: 'Bạn chắc chắn muốn xóa?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Chắc chắn',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.value) {
                    var link = $(btn).parent().find('a');
                    var href = link.attr('href');
                    $.ajax({
                        url: '/api/files?path=' + href.substring(href.indexOf('=') + 1),
                        type: 'delete',
                        success: (data) => {
                            list();
                        },
                        error: (data) => {
                            console.log(data);
                            data = data.responseJSON;
                            Swal.fire({
                                type: 'error',
                                title: 'Message',
                                text: data.message,
                            });
                        }
                    });
                }
            });

        }

        function renameFile(btn) {
            var link = $(btn).parent().find('a');
            var href = link.attr('href');
            var newName = prompt('Nhập tên mới');
            if (!newName)
                return;
            $.ajax({
                url: '/api/files/name?old_path=' + href.substring(href.indexOf('=') + 1) + '&new_name=' + newName,
                type: 'patch',
                success: (data) => {
                    list();
                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                    Swal.fire({
                        type: 'error',
                        title: 'Message',
                        text: data.message,
                    });
                }
            });

        }

        function renameFolder(btn) {
            var link = $(btn).parent().find('a');
            var href = link.attr('href');
            var newName = prompt('Nhập tên mới');
            if (!newName)
                return;
            $.ajax({
                url: '/api/files/folder/name?old_path=' + href.substring(href.indexOf('/')) + '&new_name=' + newName,
                type: 'patch',
                success: (data) => {
                    list();
                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                    Swal.fire({
                        type: 'error',
                        title: 'Message',
                        text: data.message,
                    });
                }
            });

        }


        function getLink(btn) {
            var link = $(btn).parent().find('a');
            var href = link.attr('href');
            alert(href);
        }


        function createFolder() {
            var folder = prompt('Nhập tên folder');
            if (!folder)
                return;
            var path = currentPath;
            if (path.indexOf('/') < 0)
                path += '/';
            $.ajax({
                url: '/api/files/folder?path=' + path.substring(path.indexOf('/')) + '/' + folder,
                type: 'post',
                success: (data) => {
                    list();
                },
                error: (data) => {
                    console.log(data);
                    data = data.responseJSON;
                    Swal.fire({
                        type: 'error',
                        title: 'Message',
                        text: data.message,
                    });
                }
            });

        }
    </script>

</body>
</html>