@page "/admin/order/{id}"
@model CSK.Admin.Pages.Admin.Order.DetailModel
@{
}


@section style{
<style>
    .status-new {
        color: blue;
    }

    .status-accepted {
        color: brown;
    }

    .status-cancled {
        color: red;
    }

    .status-finished {
        color: forestgreen;
    }
</style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chi tiết hóa đơn: <b id="order-id"><!-- dynamic data --></b>

        <a href="../" class="btn btn-link pull-right">
            Trở lại
        </a>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin đơn hàng</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Thông tin khách hàng:</label>
                            <div style="padding-left:50px;">
                                <div><b>Tên</b>: <span id="customer-name"><!--dynamic--></span></div>
                                <div><b>Điện thoại</b>: <span id="customer-phone"><!--dynamic--></span></div>
                                <div><b>Email</b>: <span id="customer-email"><!--dynamic--></span></div>
                                <div><b>Đại chỉ</b>: <span id="customer-address"><!--dynamic--></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Thông tin người nhận:</label>
                            <div style="padding-left:50px;">
                                <div><b>Tên</b>: <span id="receiver-name"><!--dynamic--></span></div>
                                <div><b>Điện thoại</b>: <span id="receiver-phone"><!--dynamic--></span></div>
                                <div><b>Đại chỉ</b>: <span id="receiver-address"><!--dynamic--></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Thông tin giao hàng:</label>
                            <div style="padding-left:50px;">
                                <div><b>Giao hàng</b>: <span id="ship-type"><!--dynamic--></span></div>
                                <div><b>Ngày giao yêu cầu</b>: <span id="ship-date"><!--dynamic--></span></div>
                                <div><b>Khung giờ</b>: <span id="ship-time"><!--dynamic--></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Chi tiết:</label>
                            <div style="padding-left:50px;">
                                <div><b>Tổng ban đầu</b>: <span id="total-amount"><!--dynamic--></span> (VND)</div>
                                <div><b>Tổng cuối cùng</b>: <span id="final-amount"><!--dynamic--></span> (VND)</div>
                                <div><b>Phương thức thanh toán</b>: <span id="payment-type"><!--dynamic--></span></div>
                                <div><b>Tình trạng</b>: <span id="status"><!--dynamic--></span></div>
                                <div><b>Lời nhắn</b></div>
                                <textarea name="message" id="message" class="form-control" disabled style="width:50%;height:100px;"></textarea>
                                <div><b>Ghi chú</b></div>
                                <textarea name="note" id="note" class="form-control" disabled style="width:50%;height:100px;"></textarea>
                            </div>
                            <br />
                            <div style="padding: 0 40px;">

                                <table id="tbl-details" class="table table-hover">
                                    <tr>
                                        <th>Số lượng</th>
                                        <th>Sản phẩm</th>
                                        <th>Tổng ban đầu (VND)</th>
                                        <th>Tổng cuối cùng (VND)</th>
                                    </tr>

                                </table>

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Sự kiện:</label>
                            <div style="padding-left:50px;">
                                <div><b>Thời gian đặt</b>: <span id="order-time"><!--dynamic--></span></div>
                                <div style="display:none"><b>Đã duyệt vào</b>: <span id="accepted-time"><!--dynamic--></span></div>
                                <div style="display:none"><b>Đã hoàn thành vào</b>: <span id="finished-time"><!--dynamic--></span></div>
                                <div style="display:none"><b>Đã hủy vào</b>: <span id="cancled-time"><!--dynamic--></span></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" style="display:none" class="btn btn-primary" id="btn-accept" onclick="acceptOrder()">Duyệt</button>
                        <button type="button" style="display:none" class="btn btn-success" id="btn-pay" onclick="payOrder()">Hoàn thành</button>
                        <button type="button" style="display:none" class="btn btn-danger" id="btn-cancle" onclick="cancleOrder()">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
@section script {
<script>

    pageInit();
    function pageInit() {
        loadOrder();
    }


    function loadOrder() {
        function addDetail(d) {
            var table = $('#tbl-details');
            table.append(
                $('<tr>').append(
                    $('<td>' + d.quantity + '</td>')
                ).append(
                    $('<td><a href="/admin/product/' + d.product_id + '/" target="blank">' + d.product_name + '</a></td>')
                ).append(
                    $('<td>' + toMoneyFormat(d.total_amount.toString()) + '</td>')
                ).append(
                    $('<td>' + toMoneyFormat(d.final_amount.toString()) + '</td>')
                )
            );
        }

        function toPaymentTypeText(type) {
            if (type == 'cod')
                return 'Ship COD';
            if (type == 'transfer')
                return 'Chuyển khoản';
        }

        function setStatus(status) {
            var stt = $('#status');
            if (status == 'New') {
                stt.text('Mới');
                stt.addClass('status-new');
                $('#btn-accept').show();
                $('#btn-cancle').show();
            } else if (status == 'Accepted') {
                stt.text('Đã duyệt');
                stt.addClass('status-accepted');
                $('#btn-pay').show();
                $('#btn-cancle').show();
            } else if (status == 'Cancled') {
                stt.text('Đã hủy');
                stt.addClass('status-cancled');
            } else if (status == 'Finished') {
                stt.text('Đã hoàn thành');
                stt.addClass('status-finished');
            }
        }

        $.ajax({
            url: '/api/sale-orders/@Model.Id',
            type: 'get',
            success: (data) => {
                console.log(data);

                $('#order-id').text(data.id);
                $('#customer-name').text(data.customer_name);
                $('#customer-phone').text(data.customer_phone);
                $('#customer-email').text(data.customer_email);
                $('#customer-address').text(data.customer_address);
                $('#receiver-name').text(data.receiver_name);
                $('#receiver-phone').text(data.receiver_phone);
                $('#receiver-address').text(data.receiver_address);
                $('#ship-type').text(data.ship_type == 'normal' ? 'Bình thường' : 'Gấp');
                if (data.ship_type == 'fast')
                    $('#ship-type').attr('style', 'color:red');
                $('#ship-date').text(data.ship_date);
                $('#ship-time').text(data.ship_time);
                $('#total-amount').text(toMoneyFormat(data.total_amount.toString()));
                $('#final-amount').text(toMoneyFormat(data.final_amount.toString()));
                $('#payment-type').text(toPaymentTypeText(data.payment_type));
                $('#message').text(data.message);
                $('#note').text(data.note);
                setStatus(data.status);

                $('#order-time').text(data.order_time);
                if (data.accepted_time) {
                    $('#accepted-time').text(data.accepted_time);
                    $('#accepted-time').parent().show();
                }
                if (data.cancled_time) {
                    $('#cancled-time').text(data.cancled_time);
                    $('#cancled-time').parent().show();
                }
                if (data.finished_time) {
                    $('#finished-time').text(data.finished_time);
                    $('#finished-time').parent().show();
                }

                for (var i = 0; i < data.details.length; i++) {
                    var d = data.details[i];
                    addDetail(d);
                }

            },
            error: (data) => {
                console.log(data);
                data = data.responseJSON;
                Swal.fire({
                    type: 'error',
                    title: 'Message',
                    text: data.message,
                });
            }
        });
    }

    function acceptOrder() {
        Swal.fire({
            title: 'Bạn chắc chắn muốn duyệt đơn này?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/api/sale-orders/@Model.Id/status?value=Accepted',
                    type: 'patch',
                    success: (data) => {
                        console.log(data);
                        location.reload();
                    },
                    error: (data) => {
                        console.log(data);
                        data = data.responseJSON;
                        Swal.fire({
                            type: 'error',
                            title: 'Message',
                            text: data.message,
                        });
                    }
                });
            }
        });
    }

    function payOrder() {
        Swal.fire({
            title: 'Bạn chắc chắn muốn hoàn thành đơn này?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/api/sale-orders/@Model.Id/status?value=Finished',
                    type: 'patch',
                    success: (data) => {
                        console.log(data);
                        location.reload();
                    },
                    error: (data) => {
                        console.log(data);
                        data = data.responseJSON;
                        Swal.fire({
                            type: 'error',
                            title: 'Message',
                            text: data.message,
                        });
                    }
                });
            }
        });
    }

    function cancleOrder() {
        Swal.fire({
            title: 'Bạn chắc chắn muốn hủy đơn này?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/api/sale-orders/@Model.Id/status?value=Cancled',
                    type: 'patch',
                    success: (data) => {
                        console.log(data);
                        location.reload();
                    },
                    error: (data) => {
                        console.log(data);
                        data = data.responseJSON;
                        Swal.fire({
                            type: 'error',
                            title: 'Message',
                            text: data.message,
                        });
                    }
                });
            }
        });
    }

</script>

}
